*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}
body{
  
  display:flex;
  align-items:center;
  justify-content: center;
  min-height:100vh;
  background: #927DFC;
  
}

.wrapper{
  width:500px;
  padding:30px;
  background-color:white;
  border-radius:9px;
}
.wrapper .upload-box{
  height:225px;
  display:flex;
  align-items:center;
  justify-content:center ;
  flex-direction: column;
  border-radius:5px;
  border:2px dashed #afafaf;
}
.wrapper.active .upload-box img {
	max-height:100%;
	width:100%;
	
}
.wrapper.active .upload-box p {
	display:none;
}
.upload-box p{
  font-size:20px;
  margin-top:20px;
}
.upload-box img{
  width:150px;
  object-fit: cover;
  border-radius:5px;
}
.wrapper .content .row-sizes{
  display:flex;
}
.wrapper .content .checkboxes{
  display:flex;
}
.wrapper .content .row-sizes .column-width input{
  width:70%;
  height:49px;
  outline:none;
  margin-top:7px;
  padding:0 15px;
  font-size:20px;
  border-radius:4px;
  border:1px solid #aaa;
  display:flex;
}
.wrapper .content .row-sizes .column-height input{
  width:70%;
  height:49px;
  outline:none;
  margin-top:7px;
  padding:0 15px;
  font-size:20px;
  border-radius:4px;
  border:1px solid #aaa;
}

 .content .download-btn{
  width:100%;
  color:#fff;
  outline:none;
  border:none;
  border-radius:5px;
  padding:15px 0;
  margin:30px 0 10px;
  background:#927DFC;
}